<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOLOBOK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <span class="logo">KOLOBOK</span>
    </header>
    <main>
        <div class="left-block">
            <div class="blob">
                <img src="{{ url_for('static', filename='tire.jpeg') }}" alt="Шина" class="tire-img">
            </div>
        </div>
        <div class="right-block">
            <h1>Привет, чем могу помочь?<span class="custom-bar"></span></h1>
            <div class="buttons">
                <button onclick="window.location.href='{{ url_for('chat') }}'">Разметить шину</button>
                <button onclick="window.location.href='{{ url_for('chat') }}'">Количество шипов</button>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 